@model BuildingShopCore.Models.Client

@{
    ViewData["Title"] = "Добавление";
}

<h2>Создание клиента</h2>

<hr />
<div class="row row-cols-1">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FIO" class="control-label text-md-start">ФИО</label>
                <input asp-for="FIO" class="form-control" />
                <span asp-validation-for="FIO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label text-md-start">Адрес</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label text-md-start">Номер телефона</label>
                <input asp-for="Phone" class="form-control" id="Phone" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <p>
                <div class="form-group">
                    <input type="submit" value="Добавить" class="my-custom-button" />
                    <a asp-action="Index" class="my-custom-link">Назад</a>
                </div>
            </p>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
