@model BuildingShopCore.Models.Product

@{
    ViewData["Title"] = "Добавление";
}

<h2>Добавление нового товара</h2>

<hr />
<div class="row row-cols-1">
    <div class="col-md-10">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label text-md-start">Наименование</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label text-md-start">Описание</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label text-md-start">Категория</label>
                <select asp-for="CategoryId" class="form-control" asp-items="@ViewData["CategoryId"] as SelectList"></select> 
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label text-md-start">Цена</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryProd" class="control-label text-md-start">Страна-производитель</label>
                <input asp-for="CountryProd" class="form-control" />
                <span asp-validation-for="CountryProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prod" class="control-label text-md-start">Производитель</label>
                <input asp-for="Prod" class="form-control" />
                <span asp-validation-for="Prod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label text-md-start">Количество на складе</label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label text-md-start">Изображение</label>
                    <input type="file" name="image" accept=".jpg,.png" class="form-control"/>
            </div>
            <p>
                <div class="form-group">
                    <input type="submit" value="Добавить" class="my-custom-button" />
                    <a asp-action="Index" class="my-custom-link">Назад</a>
                </div>
            </p>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
