@model IPagedList<BuildingShopCore.Models.Product>
@using BuildingShopCore.Controllers;
@using X.PagedList;
@using X.PagedList.Extensions;
@using X.Web.PagedList

<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "Товары";
}

<div class="loader"></div>

<h2>Товары</h2>

<p>
    <a class="my-custom-link" asp-action="Create">Добавить товар</a>
    <button class="my-custom-link" onclick="window.print();">Печать</button>
</p>

<form id="NewTableId" asp-action="ProductPartialView" asp-controller="Product" method="post">
    <div class="form-group">
        <p>
            Поиск: <input type="text" class="form-control" value="@ViewData["CurrentFilter"]" id="searchInput" name="SearchString" oninput="performSearch()" />
        </p>
    </div>
</form>

<div id="divProducts">
    <partial name="_ProductPartialView" />
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function performSearch() {
            var searchString = $('#searchInput').val();

            $.ajax({
                url: '@Url.Action("ProductPartialView", "Product")',
                type: 'GET',
                data: { searchString: searchString },
                success: function (data) {
                    console.log(searchString);
                    $('#divProducts').html(data);
                }
            });
        }
    </script>
}
