@{
    ViewData["Title"] = "Home Page";
}

<main>
    <header>
        <h1 class="my-custom-header">Магазин сантехники</h1>
    </header>
    <div class="accordion accordion-collapse" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    График заказов
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="form-control">
        <div class="d-grid gap-2">
            <a class="my-custom-link" asp-area="" asp-controller="Order" asp-action="Create">Добавить Заказ</a>
            <a class="my-custom-link" asp-area="" asp-controller="Product" asp-action="Create">Добавить Товар</a>
            <a class="my-custom-link" asp-area="" asp-controller="Client" asp-action="Create">Добавить Клиента</a>
            <a class="my-custom-link" asp-area="" asp-controller="Employee" asp-action="Create">Добавить Сотрудника</a>
            <a class="my-custom-link" asp-area="" asp-controller="ProductCategory" asp-action="Create">Добавить Категорию товаров</a>
        </div>
    </div>
</main>
