@model BuildingShopCore.Models.ProductCategory

@{
    ViewData["Title"] = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить эту категорию?</h3>
<div class="row">
    <div class="col-md-10">
    <h4>Категория товаров №@Model.Id</h4>
    <hr />
    <form asp-action="Delete">
        <div class="form-group">
                <label asp-for="Name" class="control-label text-md-start">Наименование</label>
                <label class="form-control">@Model.Name</label>
        </div>
        <p>
            <div class="form-group">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Удалить" class="my-custom-button" />
                    <a asp-action="Index" class="my-custom-link">Назад</a>
            </div>
        </p>
    </form>
    </div>
</div>
